# =========================
# Node / Vite
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# Environment variables
# =========================
.env
.env.*
.env.local

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Firebase
# =========================
.firebase/
firebaseConfig.js
firebase-debug.log

# =========================
# Coverage / Testing
# =========================
coverage/
